@import "tailwindcss";
body {
  font-family: "Inter", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* dark mode  */
  --bg: white;
  --text: black;

  /* Light mode */

  --bg: #0d0d0d;
  --text: #eee;

  /* for text */

  --primary: #ffffff;
  --secondary: #808080;
}
