@import "tailwindcss";
body {
  font-family: "Inter", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer theme {
  :root {
    --bg: white;
    --text: black;
  }
  .dark {
    --bg: #0D0D0D;
    --text: #eee;
  }

  .text-color {
    --primary: #ffffff;
    --secondary: #808080;
  }
}
